.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: normal;
  }

  p {
    line-height: 1.5;
    margin: 0 0 25px 0;

    @media (min-width: 767px) {
      margin: 0 0 35px 0;
    }
  }
}
